.zaui-modal-content-main {
  overflow-y: visible !important;
  padding: 0 !important;
}

.service-filter-dropdown.zaui-input-affix-wrapper {
  margin: 0;
  input {
    font-size: 12px !important;
    height: 26px;
    padding-right: 0;
  }
}
